.react-responsive-3d-carousel__indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 6px;
  //reset list css
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.react-responsive-3d-carousel__indicators.small {
  gap: 11px;
}

.react-responsive-3d-carousel__indicators.medium {
  gap: 15px;
}

.react-responsive-3d-carousel__indicators.large {
  gap: 18px;
}

.react-responsive-3d-carousel__indicators li {
  width: 10px;
  height: 10px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: #ffffff;
  text-indent: 0;
  list-style-type: none;
  transition: background-color 0.2s ease-in;
  cursor: pointer;
}

.react-responsive-3d-carousel__indicators.shadow li {
  box-shadow: 0px 0.15rem 0.15rem rgba(56, 56, 56, 0.3);
}

.react-responsive-3d-carousel__indicators.small li {
  width: 10px;
  height: 10px;
}

.react-responsive-3d-carousel__indicators.medium li {
  width: 13px;
  height: 13px;
}

.react-responsive-3d-carousel__indicators.large li {
  width: 16px;
  height: 16px;
}
