.react-responsive-3d-carousel__indicators {
  //reset ul css
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.react-responsive-3d-carousel__indicators > li {
  // reset li css
  display: inline-block;
  margin: 0;
  padding: 0;
  text-indent: 0;
  line-height: 1;
  list-style: none;

  transition: color 0.2s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
  color: (var(--indicator-color, #ffffff));

  &:hover {
    color: var(--indicator-active-color, #222222);
  }
}

.react-responsive-3d-carousel__indicators > li > * {
  width: var(--indicator-width, 0.5rem);
  height: var(--indicator-height, 0.5rem);
  filter: drop-shadow(var(--indicator-shadow, none));
}

.react-responsive-3d-carousel__indicators > li.active {
  color: var(--indicator-active-color, #222222);
}
