.container {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: minmax(0, 80vh);
  gap: 1.6rem;
  overflow: hidden;
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.2);
  padding: 2rem 2.5rem;
}

@media screen and (max-width: 996px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 60vh;
    padding: 1rem;
  }
}