.react-responsive-3d-carousel__arrows {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.react-responsive-3d-carousel__arrows > button {
  // reset button css
  overflow: visible;
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  // color: inherit;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: color 0.2s ease-in-out;
  pointer-events: auto;
  color: var(--arrow-color, #ffffff);

  &:hover {
    color: var(--arrow-hover-color, #22222288);
  }
}

.react-responsive-3d-carousel__arrows > button:first-of-type {
  left: 0;
}

.react-responsive-3d-carousel__arrows > button:last-of-type {
  right: 0;
}

.react-responsive-3d-carousel__arrows > button > * {
  width: var(--arrow-width, 2rem);
  height: var(--arrow-height, 2rem);
  filter: drop-shadow(var(--arrow-drop-shadow, none));
}
