.react-responsive-3d-carousel__status {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  text-shadow: 0.02em 0.1em 0.2em black;
}

.react-responsive-3d-carousel__status.small {
  font-size: 0.8rem;
}

.react-responsive-3d-carousel__status.medium {
  font-size: 1rem;
}

.react-responsive-3d-carousel__status.large {
  font-size: 1.2em;
}
