.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: var(--ifm-color-secondary-contrast-background);
  font-size: 1.5em;
  transition: transform 0.3s;
}

.wrapper > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}